---
export interface Props {
  title: string;
  description: string;
  image: string;
  btnText: string;
  btnLink: string;
}
---

<div class="col py-3">
  <div class="card h-100">
    <div class="ratio ratio-16x9"><img src={Astro.props.image} alt={Astro.props.title} class="card-img-top" draggable="false" /></div>
    <div class="card-body">
      <h5 class="card-title">{Astro.props.title}</h5>
      <p class="card-text">{Astro.props.description}</p>
    </div>
    <div class="card-footer"><a href={`${Astro.props.btnLink}`} class="btn btn-outline-primary"><i class="bi bi-camera"></i> {Astro.props.btnText}</a></div>
  </div>
</div>

