---
import BaseLayout from "@layouts/BaseLayout.astro";
import Photo from "@components/Photo.astro";
import TitleCardProj from "@components/TitleCardProj.astro";

export async function getStaticPaths() {
  const projectFiles = await Astro.glob("../../../public/proj/*");
  const filenameRegex = /(\d{8}) - (.*?)(?:_(\d+))?(?:_(thumb))?(?:\.(.{8}))?\.jpg/i;

  return projectFiles
    .map((image) => {
      const imagePath = image.default;
      const imagePathSrc = imagePath.src;
      const match = imagePathSrc.match(filenameRegex);
    const [_, date, name, numeric, thumb, eightChar] = match;

      return {
        params: { date, name },
      };
    })
    .filter(Boolean);
}

const { date, name } = Astro.params;

function formattedDate() {
  const day = date.slice(6, 8);
  const month = date.slice(4, 6);
  const year = date.slice(0, 4);
  const formattedDate = `${day}/${month}/${year}`;
  return formattedDate;
}

async function fetchThumbPhotos() {
  const photos = await Astro.glob("../../../public/proj/*/*");
  const filenameRegex = /(\d{8}) - (.*?)(?:_(\d+))?(?:_(thumb))?(?:\.(.{8}))?\.jpg/i;
  const filteredPhotos = photos.filter((image) => {
    const imagePath = image.default;
    const imagePathSrc = imagePath.src;
    const match = imagePathSrc.match(filenameRegex);

    const [_, date, name, numeric, thumb, eightChar] = match;
    const hasMatchingName = name.includes(Astro.params.name);
    const hasMatchingDate = date.includes(Astro.params.date);
    
    return thumb && hasMatchingDate && hasMatchingName;
  });

  // Sort by the numeric sequence captured by the regex
  filteredPhotos.sort((a, b) => {
    const sequenceA = parseInt(a.default.src.match(filenameRegex)[3]);
    const sequenceB = parseInt(b.default.src.match(filenameRegex)[3]);
    return sequenceA - sequenceB;
  });

  return filteredPhotos.map((image) => {
    const imagePath = image.default;
    const imagePathSrc = imagePath.src;
    const imgThumb = imagePathSrc;

    return {
      imgThumb,
    };
  });
}

async function fetchPhotos() {
  const thumbPhotos = await fetchThumbPhotos(); // Call fetchThumbPhotos to get the imgThumb
  const photos = await Astro.glob("../../../public/proj/*/*");
  const filenameRegex = /(\d{8}) - (.*?)(?:_(\d+))?(?:_(thumb))?(?:\.(.{8}))?\.jpg/i;
  const filteredPhotos = photos.filter((image) => {
    const imagePath = image.default;
    const imagePathSrc = imagePath.src;
    const match = imagePathSrc.match(filenameRegex);

    const [_, date, name, numeric, thumb, eightChar] = match;
    const hasMatchingName = name.includes(Astro.params.name);
    const hasMatchingDate = date.includes(Astro.params.date);
    
    if (thumb) {
      return false;
    }

    return hasMatchingDate && hasMatchingName;
  });

  // Sort by the numeric sequence captured by the regex
  filteredPhotos.sort((a, b) => {
    const sequenceA = parseInt(a.default.src.match(filenameRegex)[3]);
    const sequenceB = parseInt(b.default.src.match(filenameRegex)[3]);
    return sequenceA - sequenceB;
  });

  return filteredPhotos.map((image, index) => { // Add the index parameter
    const imagePath = image.default;
    const imagePathSrc = imagePath.src;
    const width = imagePath.width;
    const height = imagePath.height;
    const imgThumb = thumbPhotos[index]?.imgThumb; // Use the imgThumb from fetchThumbPhotos

    return {
      img: imagePathSrc,
      imgThumb,
      width,
      height,
    };
  });
}

async function fetchHeroImage() {
  const photos = await Astro.glob("../../../public/proj/*");
  const filenameRegex = /(\d{8}) - (.*?)(?:_(\d+))?(?:_(thumb))?(?:\.(.{8}))?\.jpg/i;
  const filteredPhotos = photos.filter((image) => {
    const imagePath = image.default;
    const imagePathSrc = imagePath.src;
    const match = imagePathSrc.match(filenameRegex);

    const [_, date, name, numeric, thumb, eightChar] = match;
    const hasMatchingName = name.includes(Astro.params.name);
    const hasMatchingDate = date.includes(Astro.params.date);

    return hasMatchingDate && hasMatchingName;
  });

  return filteredPhotos[0]?.default?.src;
}

const photos = await fetchPhotos();
const heroImage = await fetchHeroImage();
---

<BaseLayout>
  <link rel="stylesheet" href="/photoswipe/photoswipe.css" slot="head" />
  <h1 class="text-center">
    <TitleCardProj
      img={heroImage}
      title={name}
      contentDate={formattedDate()}
      contentTitle={name}
    />
  </h1>
  <div class="pswp-gallery" id="gallery">
    {photos.map((photo) => <Photo {...photo} />)}
  </div>
</BaseLayout>

<script type="module">
  import PhotoSwipeLightbox from "/photoswipe/photoswipe-lightbox.esm.js";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("/photoswipe/photoswipe.esm.js"),
    wheelToZoom: true,
    pinchToClose: false,
  });

  lightbox.init();
</script>
