---
// Corrected imports
import Card from "../components/card.astro";

export function formatDate(dateString: string) {
  const year = dateString.substring(0, 4);
  const month = dateString.substring(4, 6);
  const day = dateString.substring(6, 8);
  return `${day}/${month}/${year}`;
}

export async function generateCardData() {
  const entries = await Astro.glob("../proj/*");
  const cardData = entries
    .map((entry: any) => {
      const src = entry.default.src;
      const match = src.match(/(\d{8}) - ([^.]+).jpg/);
      if (match) {
        const dateFormatted = formatDate(match[1]);
        return {
          title: match[2],
          subtitle: dateFormatted,
          image: entry.default,
          btnLink: `/${match[1]} - ${match[2]}/images`,
        };
      }
      return null;
    })
    .filter(Boolean);

  return cardData;
}
---

{
  (await generateCardData()).map((item) => (
    <div class="col py-3">
      <Card item={item} />
    </div>
  ))
}
